{% extends "layout.html.twig" %}

{% block title %}Category List{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    Category List
    <table>
        <thead>
            <tr><th>Category</th></tr>
        </thead>
        <tbody>
        {% for row in data %}
            <tr><td>{{ row['name'] }}</td></tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}