@CHARSET "UTF-8";

#content {
	clear:both;
}
.dataList .editMode {
    display: none; /* Hides Editing Elements */
}

.dataList .editing .editMode {
  display: inline; /* Shows input text box when .editing*/
}

.dataList .editing .viewMode{
  display: none; /* Hides label text when .editing*/
}    