@CHARSET "UTF-8";

#content {
	clear:both;
}
.dataList .editMode {
    display: none; /* Hides Editing Elements */
}

.dataList .editing .editMode {
  display: inline; /* Shows input text box when .editing*/
}

.dataList .editing .viewMode{
  display: none; /* Hides label text when .editing*/
}

ul.sortable li {
	border: 1px solid #AAAAAA;
	background-color: #CCCCCC;
	min-width: 200px;
	max-width: 300px;
	margin-top: 10px;
}

.navbar .nav > li > a {
	padding: 10px 7px 10px;;
}