@CHARSET "UTF-8";

#content {
	clear:both;
}
.dataList .editMode {
    display: none; /* Hides Editing Elements */
}

.dataList .editing .editMode {
  display: inline; /* Shows input text box when .editing*/
}

.dataList .editing .viewMode{
  display: none; /* Hides label text when .editing*/
}

ul.sortable li {
	border: 1px solid #AAAAAA;
	background-color: #CCCCCC;
	min-width: 200px;
	max-width: 300px;
	margin-top: 10px;
}

.message {
    background-color: #9999ff;
    color: #000099;
    padding: 5px;
    border: 1px solid #000099;
}
.navbar .nav > li > a {
	padding: 10px 7px 10px;;
}
.bbs-loading{ font-size: 20px; color: grey}

textarea.bbs-editInputTextArea {
	width: 600px;
	height: 200px;
}

.bbs-columnEdit {
	margin-bottom: 20px;
}
@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}