{% extends "layout.html.twig" %}

{% block content %}

<div id="container"></div>

{% endblock %}


{% block customJS %}
<script type="text/javascript">
    var init = {
        options: {
            debug: true,
            apiRoot: '{{ webRoot}}api/',
            modelInitOrder: ['category', 'contact', 'item', 'item_contact']
        },
        modelDefs: {
            contact: {
                label: 'Contacts',
                columns: {
                    first_name: {},
                    last_name: {},
                    auction_group_id: {
                        listDisplayType: 'none',
                        editDisplayType: 'hidden',
                        defaultValue: '{{ auctionGroupId }}'
                    }
                }
            },
            category: {
                label: 'Categories',
                columns: {
                    name: {},
                    auction_group_id: {
                        listDisplayType: 'none',
                        editDisplayType: 'hidden',
                        defaultValue: '{{ auctionGroupId }}'
                    }
                }
            },
            item: {
                label: 'Items',
                columns: {
                    auction_id: {
                        listDisplayType: 'none',
                        editDisplayType: 'hidden',
                        defaultValue: '{{ auctionId }}'
                    },
                    title: {},
                    donor_display_name: {},
                    description: {},
                    category_id: {
                        label: 'category',
                        listDisplayType: 'collectionLookup',
                        editDisplayType: 'collectionDropdown',
                        emptyOption: 'Choose One...',
                        relatedModelName: 'category',
                        relatedModelToString: function(model) { return model.get('name'); }
                    }
                },
                relatedModels: {
                    item_contact: {
                        label: 'Contact',
                        editDisplayType: 'collectionAssociationMany',
                        joinColumn: 'id',
                        relatedJoinColumn: 'item_id',
                        emptyOption: 'Choose Contact...',
                        relatedModelName: 'item_contact'
                    },
                    category: {
                        label: 'Contact',
                        editDisplayType: 'collectionAssociationOne',
                        joinColumn: 'category_id',
                        relatedJoinColumn: 'id',
                        emptyOption: 'Choose Category...',
                        relatedModelName: 'item_contact'
                    }
                }
            },
            item_contact: {
                label: 'Donors',
                columns: {
                    contact_id: {
                        label: 'contact',
                        listDisplayType: 'collectionLookup',
                        editDisplayType: 'collectionDropdown',
                        emptyOption: 'Choose One...',
                        relatedModelName: 'contact',
                        relatedModelToString: function(model) { return model.get('last_name') + ', ' + model.get('first_name'); }
                    },
                    item_id: {
                        label: 'item',
                        listDisplayType: 'collectionLookup',
                        editDisplayType: 'collectionDropdown',
                        emptyOption: 'Choose One...',
                        relatedModelName: 'item',
                        relatedModelToString: function(model) { return model.get('title'); }
                    }
                }
            }
        }
    };
    $.bbscaffold = new BackboneScaffold(init);
    
    $.bbscaffold.setupScaffold('#container');
</script>
{% endblock %}