<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="style.css" />
            <title>{% block title %}{% endblock %} - Auction Manager</title>
        {% endblock %}
    </head>
    <body>
        <div id="content">{% block content %}here is the content{% endblock %}</div>
        
        {% block mainJS %}
        <script src="js/jquery-1.10.1.min.js"></script>
        <script src="js/backbone-min.js"></script>
        {% endblock %}
        
        {% block customJS %}{% endblock %}
    </body>
</html>