{% extends "layout.html.twig" %}

{% block content %}
<style>
    .bbs-modelHeader { display: none}
    td ul {list-style-type: none}
</style>
<div style="margin-bottom: 20px">
    <a class="btn" onclick="
        window.location = '{{ webRoot }}register#/model/contact';
        window.location.reload(); return false;
   ">start over/register new</a>
</div>
<ul class="nav nav-tabs">
  <li id="step1" class="active"><a data-toggle="tab">Step 1 - Find Contact</a></li>
  <li id="step2"><a data-toggle="tab">Step 2 - Confirm/Enter Contact Data</a></li>
  <li id="step3"><a data-toggle="tab">Step 3 - Generate Bidder Number</a></li>
</ul>
<div id="scaffold-content">
</div>

<div id="bidder-number-report">
<h1 id="bidder-name"></span>
<h1 id="bidder-number"></span>
</div>

{% endblock %}

{% block customJS %}
<script src="{{ webroot }}modelDefs.js" type="text/javascript"></script>
<script type="text/javascript">
var init = {
        options: {
            debug: true,
            apiRoot: '{{ webRoot}}api/',
            modelInitOrder: ['category', 'contact', 'item', 'item_contact']
        },
        templates: {
          scaffold: '<div class="bbs-scaffold"> \
                  <ul class="bbs-modelMenu nav navbar-nav" style="display: none"></ul></div> \
      			<div class="bbs-loading">Loading...</div>\
              <div class="bbs-models" style="clear:both"    ></div> \
           </div>',
          modelListTableActions: '<td><button class="bbs-edit btn">select</button></td> \
           </td>',
         model: '<div class="bbs-model bbs-model-<%- name %>" style="display: none"> \
            <h1 class="bbs-modelHeader"><%- label %></h1> \
            <div class="bbs-modelSubSections"> \
               <div class="bbs-modelList bbs-modelSubSection"> \
                  <div class="bbs-modelAddNew" style="margin-bottom: 10px"> \
                     If After Searching You cannot find the contact then <button class="bbs-addNew btn btn-primary">add new contact</button> \
                  </div> \
               </div> \
               <div class="bbs-modelEdit bbs-modelSubSection"></div> \
               <div class="bbs-modelDetail bbs-modelSubSection"></div> \
            </div> \
         </div>',
         modelListTable: '<table class="bbs-modelListTable table table-striped"><thead><th width="50px">&#160</th> \
            <% for(columnName in columns) { if (columns[columnName].listDisplayView != "none") { %> \
            <th><%- columns[columnName].label %></th> \
         <% }} %> \
         </thead><tbody></tbody></table>',
         modelEditActions: '<div class="bbs-editActions" style="margin-top: 20px"> \
            <button class="bbs-confirm btn btn-primary">save and generate bidder number</button> \
         </div>',
         modelEditRemoveRelated: '<a class="bbs-delete btn btn-mini" style="cursor: pointer">remove</a>',
         modelEditAddRelated: '<a class="bbs-addRelated btn btn-mini" style="cursor: pointer">add</a>'
        },
        modelDefs: $.bbscaffoldModelDefs
    };
    $.extend( true, $.fn.DataTable.TableTools.classes, {
        "container": "btn-group",
        "buttons": {
            "normal": "btn",
            "disabled": "btn disabled"
        }
    });
    $.bbscaffold = new BackboneScaffold(init);

    $.bbscaffold.views.modelView = BackboneScaffold.prototype.defaults.views.modelView.extend({
        addAll: function() {
            //initiate the data table
            $table = this.$el.find('.bbs-modelListTable');
            $table.dataTable().fnDestroy();
            
            this.scaffold.debugLog('Adding All rows for model ' + this.modelName);
            this.$el.find('.bbs-modelListTable tbody').html(''); // clean the list
            this.collection.each(this.addOne, this);

            $table.dataTable({
                "sDom": "<'row'<'span6'fil><'span6'r>><'row'<'span12't>>",
                "bScrollCollapse": true,
                "bPaginate": false,
                "bStateSave": false,
                "aaSorting": [[ 4, "asc" ]],
                "aoColumnDefs": [
                {
                    bSortable: false,
                    aTargets: [ 0]
                 }
               ]
            });
        },
		addNew: function() {
            $('#step1').removeClass('active');
            $('#step2').addClass('active');
			this.scaffold.router.navigate('model/' + this.modelName + '/insert', {trigger: true});
		},
    });

    $.bbscaffold.views.modelTableRow = BackboneScaffold.prototype.defaults.views.modelTableRow.extend({
        edit: function () {
            $('#step1').removeClass('active');
            $('#step2').addClass('active');
            this.scaffold.router.navigate('model/' + this.modelName + '/edit/' + this.model.get('id'), {trigger: true});
            window.scrollTo(0,0);
        }
    });

    $.bbscaffold.views.modelEdit = BackboneScaffold.prototype.defaults.views.modelEdit.extend({
    	events: {
    		'click .bbs-confirm' : 'confirm',
    	},
    	confirm: function () {
    		this.model.save(this.$el.children('form').serializeObject(), {
    			wait: true,
    			error: function(model, error){ alert(error.responseText);},
    			success: this.saveSuccess
    		});
    	},
    	saveSuccess: function(model, response) {
    		this.collection.add(model);
    		//save the embedded forms
    		var bidderModel = new this.scaffold.modelDefs.bidder.backboneModel();
    		bidderModel.save({contact_id: model.get('id')}, {
    	    	wait: true,
    	    	error: function(model, error) { alert(error.responseText);},
    	    	success: this.bidderSaveSuccess
    		});
    	},
    	bidderSaveSuccess: function(model, response) {
            $('#step2').removeClass('active');
            $('#step3').addClass('active');
        	$('#scaffold-content').hide();
        	$('#bidder-number-report').show();
        	var contact = $.bbscaffold.modelDefs.contact.backboneCollection.get(model.get('contact_id'));
        	$('#bidder-number').html(contact.get('first_name') + ' ' + contact.get('last_name') + ' #' + model.get('bidder_number'));
        	window.scrollTo(0, 0);
    	}
    });
    $.bbscaffold.setupScaffold('#scaffold-content');
    $.bbscaffold.router.navigate('/model/contact', {trigger: true});
</script>
{% endblock %}